<footer>
  <div class="container">
    <div class="columns">
      <div class="column col-xs-12 col-sm-8">
        <ul class="list-unstyled text-center text-bold">
          <li>
            Created and designed by <a href="https://www.linkedin.com/in/john-nolette-69ba72132/">John Nolette</a>
          </li>
          <li>
            Powered by <a href="https://www.emberjs.com/">Ember.js</a> <i class="ico ico-left-sm ico-xl material-icons">memory</i>
          </li>
          <li>
            Designed with <i class="ico ico-fixed-sm ico-lg material-icons">format_paint</i> <a href="https://github.com/picturepan2/spectre">Spectre.css</a>
          </li>
        </ul>
      </div>
      <div class="column col-xs-12 col-sm-4">
        <h5 class="text-bold">&copy; Copyright 2018 John Nolette, neetGroup</h5>
      </div>
    </div>
  </div>
</footer>