div.view > #home {
  & .profile-container {
    @include card(1);
    background-color: $color-ghost-white;
    padding: 1rem;
    margin: 0 auto;
    max-width: 250px;
    & dl {
      & dd {
        margin-left: 0.5rem;
      }
    }
    & .profile-image {
     & img {
      @include shadow(2);
      display: block;
      margin: 0 auto;
      height: 125px;
      width: 125px;
      border-radius: 250px;
     }
    }
  }
}
