div.view > #home {
  & .profile-container {
    @include card(1);
    background-color: $color-ghost-white;
    padding: 1rem;
    margin: 0 auto;
    max-width: 250px;
    & .profile-image {
     & img {
       display: block;
       margin: 0 auto;
       height: 125px;
       width: 125px;
       border-radius: 250px;
     }
    }
  }
}
