@import './variables.scss';
@import './helpers/_all.scss';
@import './utilities/_all.scss';
@import './mixins/_all.scss';
@import './components/_all.scss';
@import './views/_all.scss';

* {
  font-family: $font-general;
}

h1, h2, h3, h4, h5, title {
  font-family: $font-title;
}

.news-title {
  font-family: $font-logo;
}

app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  & .view {
    flex: 1;
    & .view-wrapper {
      padding: 2rem;
    }
  }
}
