/* # Colors
  http://www.color-hex.com/color-palette/30086
  http://www.color-hex.com/color-palette/38288
*/

  $primary_color: #c8c3cc;
  $default_color: #e0e2e4;
  $info_color: #5bc0de;
  $danger_color: #d9534f;

  $color_cinder: #292b2c;
  $color_cinder_dark: #141516;
  $color_atomic: #464a4c;
  $color_mid_grey: #636c72;
  $color_alice_blue: #eceeef;
  $color_ghost_white: #f7f7f9;

  $color_chestnut: #c14141;
  $color_heather: #b5c1c9;
  $color_baltic_sea: #393c40;
  $color_lynch: #717b81;
  $color_celtic: #2e3834;

/* # Fonts
  font-family: Advent Pro, sans-serif; # general text
  font-family: Poiret One, cursive; # text bodies
  font-family: Unica One, cursive; # title
  font-family: Montserrat Subrayada, sans-serif; # logo
*/

  $font_general: Advent Pro, sans-serif;
  $font_body: Poiret One, cursive;
  $font_title: Unica One, cursive;
  $font_logo: Montserrat Subrayada, sans-serif;

/* # Icons */
  $ico_dist: 0.5rem;

/* # Header */
  $header_height: 6rem;
