/* # Colors
  http://www.color-hex.com/color-palette/30086
  http://www.color-hex.com/color-palette/38288
*/

  $primary-color: #c8c3cc;
  $default-color: #e0e2e4;
  $info-color: #5bc0de;
  $danger-color: #d9534f;

  $color-cinder: #292b2c;
  $color-cinder_dark: #141516;
  $color-atomic: #464a4c;
  $color-mid_grey: #636c72;
  $color-alice_blue: #eceeef;
  $color-ghost_white: #f7f7f9;

  $color-chestnut: #c14141;
  $color-heather: #b5c1c9;
  $color-baltic_sea: #393c40;
  $color-lynch: #717b81;
  $color-celtic: #2e3834;

/* # Fonts
  font-family: Advent Pro, sans-serif; # general text
  font-family: Poiret One, cursive; # text bodies
  font-family: Unica One, cursive; # title
  font-family: Montserrat Subrayada, sans-serif; # logo
*/

  @import url('https://fonts.googleapis.com/css?family=Advent+Pro|Poiret+One|Unica+One|Montserrat+Subrayada');

  $font-general: Advent Pro, sans-serif;
  $font-body: Poiret One, cursive;
  $font-title: Unica One, cursive;
  $font-logo: Montserrat Subrayada, sans-serif;

/* # Icons */
  $ico-dist: 0.5rem;

/* # Header */
  $header-height: 6rem;
