ol, ul {
  &.list-unstyled {
    list-style: none;
  }
  &.list-inline {
    display: inline;
    & li {
      display: inline-block;
    }
    &.list-spaced {
      & li {
        padding-right: 0.5rem;
      }
    }
  }
}
