<div class="view-wrapper" id="home">
  <div class="columns">
    <div class="column col-sm-12 col-md-4">
      <div class="profile-container">
        <h1 class="news-title text-center">John Nolette</h1>
        <div class="profile-image">
          <img src="https://i.imgur.com/BOVIwVH.jpg" />
        </div>
        <div class="profile-bio-container">
          <dl>
            <dt>
              <i class="ico ico-left-sm ico-sm material-icons">beenhere</i> Experience:
            </dt>
            <dd>
              <dl>
                <ul class="list-unstyled">
                  <li class="news-title">
                    Web Development * <small>5 Years</small>
                  </li>
                  <li class="news-title">
                    Reverse Engineering * <small>2 Years</small>
                  </li>
                  <li class="news-title">
                    Graphic Design * <small>2 Years</small>
                  </li>
                </ul>
              </dl>
            </dd>
            <dt>
              <i class="ico ico-left-sm ico-sm material-icons">beenhere</i>Skills
            </dt>
            <dd>
              <ul class="list-unstyled list-inline list-spaced">
                <li>Javascript</li>
                <li>Python</li>
                <li>HTML 5</li>
                <li>Docker</li>
                <li>AWS</li>
                <li>Heroku</li>
                <li>DevOps</li>
              </ul>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="column col-sm-12 col-md-8">
      <div class="featured-container">
      </div>
    </div>
  </div>
</div>