<div class="view-wrapper" id="home">
  <div class="profile-container">
    <h1 class="news-title text-center">John Nolette</h1>
    <div class="profile-image">
      <img src="https://i.imgur.com/BOVIwVH.jpg" />
    </div>
    <div class="profile-bio-container">
      <ul class="list-unstyled">
        <li>
          <p>
            Education: ?
          </p>
        </li>
        <li>
          <p>
            Skills: ?
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>